<div class="page-load-status">
    <div class="loader-ellips infinite-scroll-request">
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
        <span class="loader-ellips__dot"></span>
    </div>
</div>
{{ 'infinite-scroll.pkgd.min.js' | asset_url | script_tag }}
<script>
    let elem = document.querySelector('#product-grid');
    let infScroll = new InfiniteScroll( elem, {
        // options
        path: '.pagination__item--prev',
        append: '.grid__item',
        history: false,
        hideNav: '.pagination-wrapper',
        status: '.page-load-status',
    });
</script>
{%- style -%}
    .loader-ellips {
    font-size: 10px; /* change size here */
    position: relative;
    width: 4em;
    height: 1em;
    margin: 10px auto;
    }

    .loader-ellips__dot {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 0.5em;
    background: #555; /* change color here */
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    }

    .loader-ellips__dot:nth-child(1),
    .loader-ellips__dot:nth-child(2) {
    left: 0;
    }
    .loader-ellips__dot:nth-child(3) { left: 1.5em; }
    .loader-ellips__dot:nth-child(4) { left: 3em; }

    @keyframes reveal {
    from { transform: scale(0.001); }
    to { transform: scale(1); }
    }

    @keyframes slide {
    to { transform: translateX(1.5em) }
    }

    .loader-ellips__dot:nth-child(1) {
    animation-name: reveal;
    }

    .loader-ellips__dot:nth-child(2),
    .loader-ellips__dot:nth-child(3) {
    animation-name: slide;
    }

    .loader-ellips__dot:nth-child(4) {
    animation-name: reveal;
    animation-direction: reverse;
    }
{%- endstyle -%}
